form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
  }
  .textarea {
    height: 200px; /* Adjust this value as needed */
  }
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }