.copy-button {
  /* Copy the styles from the button in the Post.css file */
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  margin-top: 10px; /* Add margin to space it further */
}
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh; /* Full viewport height */
  padding-top: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  width: 800px;
border: 1px solid gray; /* Add a gray thin border */
box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add a shadow effect */
  margin-top: 20px;
    justify-content: center;

}

.data-container {
  position: relative;
  margin-top: 20px;
  font-size: 20px; /* Increase the font size */
  padding: 0px 30px 0 30px; /* Add some padding */
}

.data-item {
  margin-top: 10px;
  white-space: pre-wrap; /* Add this line */
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.button-container {
  position: absolute;
  bottom: 0;
  right: 0;
}

button:hover {
  background-color: #0056b3;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #004080;
}

.header-title {
  text-align: left;
  padding-left: 30px;
}

.warning {
  font-weight: bold;
  color: red;
}

.user {
  font-size: 0.8em;
  color: gray;
  font-style: italic;
  padding-right: 30px;
  text-align: right;
}
